@use 'sass:map';

$breakpoints: (
        xxs: 375px,
        xs: 576px,
        sm: 768px,
        md: 1024px,
        lg: 1420px,
        l: 1650px,
        xl: 1920px
);

@mixin media-breakpoint-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    @media (max-width: $breakpoint-value - 1) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin single-line-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multi-line-truncate($line-height, $max-lines) {
  word-break: break-word;
  overflow: hidden;
  line-height: $line-height;
  max-height: $line-height * $max-lines;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: $max-lines;
}
