@import '../../../../../../packages/components/dist/scss';
.literature {
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    margin: 0 0 40px;
  }

  &__add{
    a{
      display: block;
      border-radius: 4px;
      font-weight: 500;
      border: 1px solid var(--btn-bg);
      background: var(--btn-bg);
      color: var(--btn-text);
      padding: 7px 40px;

      &:hover {
        background: var(--btn-text);
        color: var(--btn-bg);
      }

      @include media-breakpoint-down(sm){
        padding: 7px 20px;
      }
    }
  }
}