@import "../../shared/assets/scss";

.header{
  grid-area: header;
  width: 100%;
  max-height: 80px;
  padding: 20px;
  box-shadow: 0 10px 30px 0 $shadow;

  @include media-breakpoint-down(sm){
   padding: 0;
  }


  &__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-down(sm){
      justify-content: flex-start;
    }
  }

  &__logo{
    margin-right: 24px;
  }

  &__name-page{
    display: flex;
    align-items: center;
  }


  &__icon{
    z-index: 60;
    position: relative;
    width: 27px;
    height: 32px;
    cursor: pointer;

    span,
    &::before,
    &::after {
      right: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #000;
    }

    &::before,
    &::after {
      content: '';
      height: 2px;
    }

    &::before {
      top: 8px;
    }

    &::after {
      bottom: 8px;
      height: 2px;
    }

    span {
      height: 2px;
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
    &_act span {
      transform: rotate(45deg) scale(0) translate(0px, -50%);
    }

    &_act::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &_act::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }

  }

  &__text{
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: $gray;
    text-align: center;

    &:first-letter{
      text-transform: uppercase;
    }
  }

  &__user{
    display: flex;
    align-items: center;

    &-label{
      position: relative;
      display: inline-block;
      width: 60px;
      height: 20px;
    }

    &-inp{
      opacity: 0;
      width: 0;
      height: 0;
    }

    &-slider{
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      &:before{
        position: absolute;
        content: "";
        height: 40px;
        width: 40px;
        left: 0;
        //bottom: 4px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0 0 15px #2020203d;
        background: white url('https://i.ibb.co/FxzBYR9/night.png') no-repeat center;
      }
    }

    &-inp:checked + .header__user-slider{
      background-color: #2196f3;
    }

    &-inp:focus + .header__user-slider{
      box-shadow: 0 0 1px #2196f3;
    }

    &-inp:checked + .header__user-slider:before{
      -webkit-transform: translateX(24px);
      -ms-transform: translateX(24px);
      transform: translateX(24px);
      background: white url('https://i.ibb.co/7JfqXxB/sunny.png') no-repeat center;
    }

    &-slider.round{
      border-radius: 34px;

      &:before{
        border-radius: 50%;
      }
    }

    &-column{
      margin: 0 16px;
    }

    &-avatar{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}