@import '../../shared/assets/scss';
@import '../../shared/assets/scss/colors';

.aside {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background-color: var(--header);
  height: 100%;
  width: 245px;
  padding: 1rem;
  transition: 0.2s ease-in-out;
  //border-right: 1px solid var(--border);
  overflow: hidden;

  &_wrap {
    width: calc(32px + 32px);

    .aside__menu-span {
      visibility: hidden;
      @include media-breakpoint-down(sm) {
        visibility: visible;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 200px;
    height: 100%;
    z-index: 50;

    &_wrap {
      left: 0;

      .aside__menu-link {
        svg {
          margin-right: 16px;
        }
      }

      .aside__menu-span {
        display: block;
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
      position: fixed;
      top: 20px;
      left: 20px;
    }
  }

  &__logo-icon {
    z-index: 60;
    position: relative;
    top: 0;
    left: 0;
    width: 27px;
    height: 32px;
    cursor: pointer;

    span,
    &::before,
    &::after {
      right: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: var(--btn-text);
    }

    &::before,
    &::after {
      content: '';
      height: 2px;
    }

    &::before {
      top: 8px;
    }

    &::after {
      bottom: 8px;
      height: 2px;
    }

    span {
      height: 2px;
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
    &_active span {
      transform: rotate(45deg) scale(0) translate(0px, -50%);
    }

    &_active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &_active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  &__logo-link {
    font-weight: 700;
    font-size: 24px;
    color: #8a92a6;
    @include media-breakpoint-down(sm) {
      margin-left: 16px;
    }
  }

  &__menu-link {
    display: flex;
    align-items: center;
    height: 28px;
    margin-bottom: 16px;
    width: 216px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &:hover {
      background: var(--link);

      span {
        color: #ffffff;
      }

      svg{
        fill: #ffffff;
      }
    }

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: var(--primary-text);
    }
  }

  &__menu-span {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--primary-text);
    visibility: visible;
    transition: visibility 0.1s ease-in-out;
    margin-left: 16px;

  }

  &__flex {
    flex: 1 1 0;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    transition: 0.2s ease-in-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--header);
    border: 1px solid var(--border);
    cursor: pointer;

    &:hover {
      background: var(--link);

      svg {
        fill: var(--bg);
      }
    }

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: var(--primary-text);
    }

    &_rotate {
      transform: rotate(-180deg);
    }
  }
}
