@import '@/shared/assets/scss/index';

.modal {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--box-shadow);
  transition: visibility 0.1s ease-in-out;
  overflow: hidden;
  width: 100%;
  height: 100%;


  &__content {position: relative;
    padding: 24px 16px;
    border-radius: 7px;
    max-width: 500px;
    width: 100%;
    background: var(--header);
    animation: ease modalContent 0.3s;
    overflow: hidden;
    @include media-breakpoint-down(xs) {
      height: 600px;
    }

    @include media-breakpoint-down(xxs) {
      height: 400px;
    }
  }

  &__row {
    display: flex;
    justify-content: flex-end;
  }

  &__close {
    cursor: pointer;
    width: 16px;
    height: 16px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: var(--primary-text);
    margin: 0 0 24px;
  }
}

@keyframes modalContent {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
