.pagination {


  &__pages {
    display: flex;
    width: fit-content;
  }

  &__button {
    width: 40px;
    height: 40px;

    button{
      svg{
        width: 100%;
        height: 100%;
      }
    }

    &:last-child{
      button{
        svg{
          transform: rotate(-180deg);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  //&__button {

  //
  //  &.active {
  //    border-color: red;
  //    color: red;
  //  }
  //}
}

//@media (max-width: $breakpoint-s) {
//  .pagination {
//    &__pages {
//      gap: var(--min);
//    }
//
//    &__button {
//      min-width: 30px;
//      min-height: 30px;
//      padding: 4px;
//      font-size: 14px;
//    }
//    span {
//      font-size: 10px;
//    }
//  }
//}
