@import "colors";
@import "mixins";
[data-theme="light"] {
  @include theme(
                  $light-background-color,
                  $light-primary-text-color,
                  $light-secondary-text-color,
                  $light-link-color,
                  $light-button-background-color,
                  $light-button-text-color,
                  $light-border-color,
                  $light-box-shadow-color
  );
}

[data-theme="dark"] {
  @include theme(
                  $dark-background-color,
                  $dark-primary-text-color,
                  $dark-secondary-text-color,
                  $dark-link-color,
                  $dark-button-background-color,
                  $dark-button-text-color,
                  $dark-border-color,
                  $dark-box-shadow-color
  );
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: grid;
  grid-template:
    "sidebar header"
    "sidebar main"
    "sidebar footer" auto / min-content auto;
  min-height: 100vh;
  height: 100%;

  @include media-breakpoint-down(sm){
    display: flex;
    flex-direction: column;
  }
}

main {
  grid-area: main;
  width: 100%;

  @media (max-width: 576px) {
    margin: 80px 0 0;
  }
}

.page {
  flex: 100%;
}
