@import "colors";
@import "mixins";

:root {
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320))
}

[data-theme="light"] {
  @include theme(
                  $light-header-background,
                  $light-skeleton-color,
                  $light-background-color,
                  $light-primary-text-color,
                  $light-secondary-text-color,
                  $light-link-color,
                  $light-button-background-color,
                  $light-button-text-color,
                  $light-border-color,
                  $light-box-shadow-color,
                  $light-odd-color,
                  $light-even-color
  );
}


[data-theme="dark"] {
  @include theme(
                  $dark-header-background,
                  $dark-skeleton-color,
                  $dark-background-color,
                  $dark-primary-text-color,
                  $dark-secondary-text-color,
                  $dark-link-color,
                  $dark-button-background-color,
                  $dark-button-text-color,
                  $dark-border-color,
                  $dark-box-shadow-color,
                  $dark-odd-color,
                  $dark-even-color
  );
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: grid;
  grid-template:
    "sidebar header"
    "sidebar main"
    "sidebar footer" auto / min-content auto;
  min-height: 100vh;
  height: 100%;

  @include media-breakpoint-down(sm){
    display: flex;
    flex-direction: column;
  }
}

main {
  grid-area: main;
  width: 100%;

@include media-breakpoint-down(md){
    margin: 50px 0 0;
  }

  @include media-breakpoint-down(sm){
    margin: 80px 0 0;
  }
}

.page {
  flex: 100%;
}
