$gray-blue: #8A92A6;
$shade-blue: #3A57E8;
$light-gray: #F5F5F5;
$active-gray: #E8E8E8;

$white: #464141;
$white-50: #e9ecef;

$gray-blue: #8A92A6;
$shade-blue: #3A57E8;
$red: #FF0000FF;


$blue:#3a57e8;


$gray:#8A92A6;

$shadow: rgba(17, 38, 146, 0.05);

// new color
$light-background-color: #FFFFFF;
$light-primary-text-color: #000000;
$light-secondary-text-color: #555555;
$light-link-color: #1E90FF;
$light-button-background-color: #F0F0F0;
$light-button-text-color: #000000;
$light-border-color: #DDDDDD;
$light-box-shadow-color: rgba(0, 0, 0, 0.1);
$light-color-icon: rgba(0, 0, 0, 0.1);


$dark-background-color: #121212;
$dark-primary-text-color: #E0E0E0;
$dark-secondary-text-color: #A0A0A0;
$dark-link-color: #1E90FF;
$dark-button-background-color: #333333;
$dark-button-text-color: #FFFFFF;
$dark-border-color: #444444;
$dark-box-shadow-color: rgba(255, 255, 255, 0.1);





