$max-width: 1920;
$min-width: 320;
$max-width-container: 1556;

$grayish-blue: #495057;

$main-font: 'Inter';
$main-weight: 400;

$focus-color: #ccc;
$inherit-color: inherit;
$transparent-color: transparent;

$font-family: $main-font, sans-serif;
$font-color: white;
$font-size: 14;
$font-weight: $main-weight;

$ringRadius: 7rem;
$ringSectors: 30;
$animDuration: 8s;


// checkbox
