@import '@/shared/assets/scss/colors';
@import '@/shared/assets/scss/font';

.dropdown {
  cursor: pointer;
  width: 100%;
  position: relative;


  &__label{
    font-family: $font-inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: var(--primary-text);
    margin-bottom: 8px;
  }

  &__selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border);
    background: var(--header);
    padding: 8px 16px;
    border-radius: 4px;

    &_act {
      background: var(--header);
      border: 1px solid var(--border);
    }
  }

  &__current {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }

  &__arrow {
    width: 10px;
    height: 6px;
    transition: 0.3s ease-in;

    &_act {
      transform: rotate(-180deg);
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--border);
    }
  }

  &__options {
    display: block;
    border: 1px solid var(--border);
    border-radius: 4px;
    width: 100%;
    max-height: 200px;
    height: auto;
    overflow: auto;
    position: absolute;
    top: 100%;
    background: var(--header);
    z-index: 30;
    margin-top: 4px;
    left: 0;

    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 2px;
      height: auto;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px 0 0 4px;
      background: $shade-blue;
      height: 24px;
    }
  }

  &__option {
    padding: 8px 16px;

    &:hover {
      background: var(--link);
      color: #FFFFFF;

    }

    &:last-of-type {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.slide-fade-enter-active {
  transition:  0.3s ease-out;
}

.slide-fade-leave-active {
  transition:  0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-4px);
  opacity: 0;
}