{"openapi":"3.0.1","info":{"title":"Spacelab Learning App For Students","version":"0.0.1"},"servers":[{"url":"https://slj.demodev.cc/SpaceLab_learning/students/"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Literature controller","description":"Literature API"},{"name":"Lesson controller","description":"Lesson API"},{"name":"Auth controller","description":"Auth API"},{"name":"Personal area controller","description":"Personal area API"},{"name":"Statistic controller","description":"Statistic API"},{"name":"Task controller","description":"Task API"}],"paths":{"/api/v1/present/send":{"post":{"tags":["present-controller-impl"],"operationId":"sendMessageToQueue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageStudentClick"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Auth controller"],"summary":"Update the access token","operationId":"refresh","parameters":[{"name":"refreshToken","in":"header","description":"Refresh token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"authorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth controller"],"summary":"Authorization user","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwtRequest"}}},"required":true},"responses":{"200":{"description":"authorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JwtResponse"}}}}},"security":[]}},"/api/v1/personalArea/editPersonalData":{"patch":{"tags":["Personal area controller"],"summary":"The request for edit personal data.","operationId":"editPersonalData","requestBody":{"description":"PersonalData for the change personal data.","content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PersonalData"}}}},"responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tasks/getById":{"get":{"tags":["Task controller"],"summary":"The request for get task.","operationId":"getById","parameters":[{"name":"id","in":"query","description":"ID by which the task is being searched","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tasks/getAll":{"get":{"tags":["Task controller"],"summary":"The request for getting tasks.","operationId":"getAll","parameters":[{"name":"arg1","in":"query","description":"Page for pagination","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"arg2","in":"query","description":"Number of elements for pagination","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/tasks/generatePdf":{"get":{"tags":["Task controller"],"summary":"The request for getting Last Lesson Hours.","operationId":"generatePage","parameters":[{"name":"id","in":"query","description":"ID by which the page is being generated","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/statistic/getQuantityLessons":{"get":{"tags":["Statistic controller"],"summary":"The request for getting Quantity Lessons.","operationId":"getQuantityLessons","responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/v1/statistic/getLastLessonHours":{"get":{"tags":["Statistic controller"],"summary":"The request for getting Last Lesson Hours.","operationId":"getLastLessonHours","responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/statistic/getHours":{"get":{"tags":["Statistic controller"],"summary":"The request for getting hours.","operationId":"integerResponseEntity","responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/statistic/getFirstActiveTask":{"get":{"tags":["Statistic controller"],"summary":"The request for getting First Active Task.","operationId":"getFirstActiveTask","responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/statistic/getCourseByStudent":{"get":{"tags":["Statistic controller"],"summary":"The request for getting Course By Student.","operationId":"getCourseByStudent","responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"string"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"string"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/personalArea/getPersonalData":{"get":{"tags":["Personal area controller"],"summary":"The request for getting personal data.","operationId":"getPersonalData","responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/literature/getAll":{"get":{"tags":["Literature controller"],"summary":"The request for getting Literatures.","operationId":"getAll_1","parameters":[{"name":"arg1","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"arg2","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/lessons/getAllFinished":{"get":{"tags":["Lesson controller"],"summary":"The request for getting tasks.","operationId":"getAllFinished","parameters":[{"name":"arg0","in":"query","description":"Page for pagination","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"arg1","in":"query","description":"Number of elements for pagination","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/lessons/getAllActive":{"get":{"tags":["Lesson controller"],"summary":"The request for getting tasks.","operationId":"getAllActive","parameters":[{"name":"arg0","in":"query","description":"Page for pagination","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"arg1","in":"query","description":"Number of elements for pagination","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/personalArea/deleteAvatar":{"delete":{"tags":["Personal area controller"],"summary":"The request for delete img and generate avatar with name and lastname.","operationId":"editPersonalData_1","responses":{"200":{"description":"Authorized","content":{"*/*":{"schema":{"type":"object"}}}},"404":{"description":"Resource not found.","content":{"*/*":{"schema":{"type":"object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Invalid input data","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"type":"object"}}}}}}}},"components":{"schemas":{"MessageStudentClick":{"type":"object","properties":{"studentId":{"type":"integer","format":"int64"},"lessonId":{"type":"integer","format":"int64"}}},"JwtResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"}}},"JwtRequest":{"type":"object","properties":{"username":{"type":"string","description":"email","example":"student@gmail.com"},"password":{"type":"string","description":"password","example":"student"}}},"PersonalData":{"required":["birthday","email","lastName","middleName","name","telegram","telephone"],"type":"object","properties":{"name":{"maxLength":100,"minLength":0,"type":"string"},"lastName":{"maxLength":100,"minLength":0,"type":"string"},"middleName":{"maxLength":100,"minLength":0,"type":"string"},"telegram":{"maxLength":100,"minLength":0,"type":"string"},"telephone":{"pattern":"^\\+380(31|32|33|34|35|36|37|38|39|41|42|43|44|45|46|47|48|49|50|59|61|63|66|67|68|73|89|91|92|93|94|95|96|97|98|99)\\d{7}$","type":"string"},"email":{"pattern":"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$","type":"string"},"newFile":{"type":"string","format":"binary"},"oldFile":{"type":"string"},"work":{"type":"string"},"birthday":{"type":"string","format":"date"},"education":{"type":"array","items":{"type":"string"}},"englishLevel":{"type":"string","enum":["A1","A2","B1","B2","C1","C2"]},"currentSituation":{"type":"string","enum":["STUDYING","WORKING","STUDIES_AND_WORKING","UNEMPLOYED"]},"password":{"maxLength":100,"minLength":8,"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}