@import '../../../../../../packages/components/dist/scss';
.role {
  &__title {
    font-weight: 600;
    font-size: 32px;
    margin: 0 0 40px;
    color: var(--primary-text);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 32px;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    height: 33px;

    &-inp {
    }

    &-btn {
      width: 100px;
      height: 33px;
      margin: 0 0 0 16px;


      button {
        display: flex;
        justify-content: center;
        align-items: center;


        svg {
          width: 24px;
          height: 24px;
          fill: var(--btn-text);
          margin: 0 0 0 8px;
        }


      }


    }
  }

  &__add-role {
    a {
      display: block;
      border-radius: 4px;
      font-weight: 500;
      border: 1px solid var(--btn-bg);
      background: var(--btn-bg);
      color: var(--btn-text);
      padding: 7px 40px;

      &:hover {
        background: var(--btn-text);
        color: var(--btn-bg);
      }

      @include media-breakpoint-down(sm) {
        padding: 7px 20px;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
