@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src:
          local('Inter Regular'),
          local('Inter-Regular'),
          url('./../../../public/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src:
          local('Inter Medium'),
          local('Inter-Medium'),
          url('./../../../public/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src:
          local('Inter SemiBold'),
          local('Inter-SemiBold'),
          url('./../../../public/fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src:
          local('Inter Bold'),
          local('Inter-Bold'),
          url('./../../../public/fonts/Inter-Bold.woff2') format('woff2');
}
