@import '../../../../../../packages/components/dist/scss';
.contact{
  &__title {
    font-weight: 600;
    font-size: 32px;
    margin: 0 0 40px;
  }

  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 32px;

  }

  &__search{
    width: 25rem;
    margin: 0 16px 0 0;

    @include media-breakpoint-down(md){
      width: 20rem;
    }

    @include media-breakpoint-down(sm){
      width: 100%;
    }
  }

  &__add{
    width: 200px;
    height: 34px;
  }

  &__pagination{
    display: flex;
    justify-content: flex-end;
    margin: 32px 0 0 ;

    @include media-breakpoint-down(sm){
      justify-content: center;
    }
  }

  &__btn{
    margin: 16px 0 0 ;
    height: 32px;
  }
}